body {
	font-family: Arial, sans-serif;
	display: flex;
    flex-direction: column;
    height: 100vh;
}
td {
	background-color: #D8F1F5;	
}
th {
	background-color: #36E4F5;	
	/*writing-mode: vertical-lr;*/
    /*transform: rotate(180deg);*/
	max-width: 35px;
	text-align: center;
}
h1 {
	text-align: center;
	margin-top: 0;
}
.td_principal {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	max-width: 20%;
  }
p {
	font-weight: bold;
  }
div {
	border: 1px solid black;
  }
